.bg-login-signup {
    background-color: #6148a2;
    height: 100vh;
}
.bg-login-signup .card {
    width: 30%;
    padding: 20px;
}
.btn-custom {
    background-color: #6148a2;
    color: #fff;
    width: 100%;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
.btn-custom:hover {
    background-color: #fff;
    color: #6148a2;
    width: 100%;
    border: 1px solid #6148a2;
}
.w-icon {
    width: 30px;
}